 <!DOCTYPE html>
<html lang="en-US">
<script src="lib/angularjs.v1-6-9.min.js"></script>
<body>
    <!--
        Data binding in AngularJS is the synchronization between the model and the view.
    -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <!--
            The HTML container where the AngularJS application is displayed, is called the view.

            The view has access to the model, and there are several ways of displaying model data in the view.

            You can use the ng-bind directive, which will bind the innerHTML of the element to the specified model property:
        -->
        <p ng-bind="firstname"></p>

        <!--
            You can also use double braces {{ }} to display content from the model:
        -->
        <p>First name: {{firstname}}</p>

        <!--
            Use the ng-model directive to bind data from the model to the view on HTML controls (input, select, textarea)
        -->
        <input ng-model="firstname">
        <!--
            Data binding in AngularJS is the synchronization between the model and the view.

            When data in the model changes, the view reflects the change, and when data in the view changes, the model is updated as well.

            This happens immediately and automatically, which makes sure that the model and the view is updated at all times.
        -->

        <h1 style="background-color: #ddd; display: inline-block; padding: 8px;" ng-click="changeName()">{{firstname}}</h1>
    </div>

    <script>
        /*
            Applications in AngularJS are controlled by controllers.

            Because of the immediate synchronization of the model and the view, the controller can be completely separated from the view, and simply concentrate on the model data.

            Thanks to the data binding in AngularJS, the view will reflect any changes made in the controller.
        */
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.firstname = "John";
            $scope.lastname = "Doe";
            $scope.changeName = function() {
                $scope.firstname = "Nelly";
            }
        });
    </script>
</body>
</html> 