 <!DOCTYPE html>
<html lang="en-US">
<script src="lib/angularjs.v1-6-9.min.js"></script>
<body ng-app="myApp">
    <!--
        AngularJS has its own HTML events directives.

        You can add AngularJS event listeners to your HTML elements by using one or more of these directives:

            ng-blur
            ng-change
            ng-click
            ng-copy
            ng-cut
            ng-dblclick
            ng-focus
            ng-keydown
            ng-keypress
            ng-keyup
            ng-mousedown
            ng-mouseenter
            ng-mouseleave
            ng-mousemove
            ng-mouseover
            ng-mouseup
            ng-paste

        The event directives allows us to run AngularJS functions at certain user events.

        An AngularJS event will not overwrite an HTML event, both events will be executed.
    -->

    <!--
        Mouse Events

        Mouse events occur when the cursor moves over an element, in this order:

            ng-mouseover
            ng-mouseenter
            ng-mousemove
            ng-mouseleave

        Or when a mouse button is clicked on an element, in this order:

            ng-mousedown
            ng-mouseup
            ng-click

        You can add mouse events on any HTML element.
    -->
    <div ng-controller="myCtrl">
        <!-- Increase the count variable when the mouse moves over the H1 element: -->
        <h1 ng-mousemove="count = count + 1">Mouse Over Me!</h1>
        <h2>{{ count }}</h2>

        <!-- The ng-click directive defines AngularJS code that will be executed when the element is being clicked. -->
        <button ng-click="count = count + 1">Click me!</button>
        <p>{{ count }}</p>

        <!-- You can also refer to a function: -->
        <button ng-click="myFunction()">Click me!</button>
        <p>{{ count }}</p>

        <!-- If you want to show a section of HTML code when a button is clicked, and hide when the button is clicked again, like a dropdown menu, make the button behave like a toggle switch: -->
        <button ng-click="myFunc()">Click Me!</button>

        <div ng-show="showMe">
            <h1>Menu:</h1>
            <div>Pizza</div>
            <div>Pasta</div>
            <div>Pesce</div>
        </div>

        <!--
            You can pass the $event object as an argument when calling the function.
            The $event object contains the browser's event object:
        -->
        <h1 ng-mousemove="myFunc2($event)">Mouse Over Me!</h1>
        <p>Coordinates: {{x + ', ' + y}}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.count = 0;
            $scope.myFunction = function() {
                $scope.count++;
            }
            $scope.showMe = false;
            $scope.myFunc = function() {
                $scope.showMe = !$scope.showMe;
            }
            $scope.myFunc2 = function(myE) {
                $scope.x = myE.clientX;
                $scope.y = myE.clientY;
            }
        });
    </script> 
</body>
</html> 